/* /---------CONTACT FORM---------/ */

.contact {
    background: var(--color-secondary);

}


.contact_container {
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;

    height: 48rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

.contact_aside {
    height: 58rem;
    background: var(--bg-color1);
    padding: 3rem;
    border-radius: 1.5rem;
    position: relative;
    bottom: 10rem;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
}

.contact_aside::after {
    content: "";
    position: absolute;
    background: var(--color-light);

    border-radius: 1rem;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(40.1% at 100% 0);
    clip-path: circle(30.1% at 100% 0);
    top: 0;
    right: 0;
    transition: clip-path 400ms ease-in-out;
}

.contact_aside::before {
    content: "";
    position: absolute;
    background: #fa8231;

    border-radius: 1rem;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(15.1% at 100% 0);
    clip-path: circle(15.1% at 100% 0);
    top: 0;
    left: 0;
    z-index: 1;

}

.aside_image img {
    width: 27rem;

}

.contact_aside h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.contact_aside p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.contact_details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_details li h4 {
    font-size: 1.5rem;
}

.contact_details li i {
    font-size: 1.5rem;
}



.contact_socials {
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_socials a {

    padding: 1rem;
    border-radius: 20%;
    font-size: 2rem;
}


/* /--------FORM-------/ */
.contact form {
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
    margin-right: 4rem;
}

.form_name {
    display: flex;
    gap: 1.2rem;
}

.contact_form input[type="text"] {
    width: 50%;
}

.contact_socials a i {

    font-size: 2rem;
    color: var(--color-light);
    background: var(--color-secondary);
    padding: 1rem;
    border-radius: 30%;

}

input {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background: #260345;
    color: #ffffff;
    height: 5rem;
    padding-left: 1.6rem;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}


.btn {
    background: var(--color-light);
    padding: 0px 1.2rem 0.6rem 1.2rem;
    border-radius: 4px;
    width: 48%;
    font-weight: 550;
    padding-left: -1rem;
    color: #000;
    cursor: pointer;
    height: 52px;
    font-size: 2.1rem;
    transition: box-shadow .14s linear;
    transition: transform .12s linear;
}


.btn:hover {

    transform: translateY(-2px);
}

.btn:active {

    transform: translateY(2px);
}

.btn-primary:after {
    content: "\f1d8";
    font-family: "Font Awesome 5 Free";
    margin-left: 1rem;
}

.btn-second:after {
    content: "\e53d";
    font-family: "Font Awesome 5 Free";
    margin-left: 1rem;
}

.btn-third:after {
    content: "\f0c0";
    font-family: "Font Awesome 5 Free";
    margin-left: 1rem;
}


@media screen and (max-width:1450px) {
    .contact_container{
        height: 50rem;
    }
    .btn{
        width: 100%;
        height: 47px;
    }
    .btns {
        flex-direction: column;
        gap: 2rem;
    }
}


@media screen and (max-width:1100px) {
    .contact_container {
        padding: 5.5rem 0rem 1rem 0rem;
    }
}

@media screen and (max-width:850px) {
    .contact_container {
        grid-template-columns: 1fr;
        height: 137rem;
        gap: 0rem;
        padding: 0rem;
    }

    .contact_aside {
        bottom: -4rem;
    }

    .contact form{
        margin-right: 0rem;
    }

    input {
        height: 7rem;
        font-size: 2.2rem;
    }

    .btns {
        gap: 2rem;
        margin-top: 5rem;
    }

    .btn {
        width: 100%;
        height: 64px;
        font-size: 2.3rem;
    }
}

@media screen and (max-width:700px) {
    input {
        height: 6.3rem;
        font-size: 2rem;
    }
    .btn {
        height: 50px;
        font-size: 2rem;
    }
}







